.movies{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0; 

    @media (max-width: 480px){
        justify-content: space-evenly;
    }
}

.loading{
    text-align: left; 
    margin-bottom: 243px;
}

